@model IEnumerable<CoreEComMVC.Models.ItemModel>
@{
    ViewData["Title"] = "Purchase";
}
<h1>Welcome to Our Shop</h1>

<link rel="stylesheet" href="~/css/Showing.css"/>

<div class="product-container">
    @foreach (var item in Model)
    {
        <div class="product-card">
            <img src="@item.ImageUrl" alt="@item.Name" class="product-image" />
            <h2>@item.Name</h2>
            <p>Category: @item.Category</p>
            <p>Date Added: @item.DateAdded.ToShortDateString()</p>
            <p>Stock: @item.Stock</p>
            <p>Price: $@item.Price</p>
            <input type="number" class="quantity" min="1" max="@item.Stock" data-name="@item.Name" data-category="@item.Category" data-stock="@item.Stock" data-price="@item.Price" data-id="@item.ItemId" />
            <button class="add-to-cart" data-name="@item.Name" data-stock="@item.Stock" data-price="@item.Price" data-id="@item.ItemId">Add to Cart</button>
        </div>
    }
</div>

@* <h2>Shopping Cart</h2>
<div id="cart">
    @await Component.InvokeAsync("Cart")
</div> *@

<div id="errorPopup" class="message-popup error">
    <span id="errorMessage"></span>
    <button id="closeError">Close</button>
</div>

<div id="successPopup" class="message-popup success">
    <span id="successMessage">Added to Cart successfully!</span>
    <button id="closeSuccess">Close</button>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/AddCart.js"></script>


